{% extends "base.html.twig" %}

{% block title %}Acceuil
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
	<h1 class="my-3">Your tasks are :</h1>
	<div class="row my-5">
		<div class="col-md-10 mx-auto">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
			<div class="card">
				{% if not app.user %}
					<div class="card-body">
						<p class="text-warning">il faut connecter pour afficher vos tâches.</p>
					</div>
				{% else %}
					<table class="table">
						<thead>
							<tr>
								<th>Titre</th>
								<th>Description</th>
								<th>Ajouter Par:</th>
								<th>Suivie Task</th>
							</tr>
						</thead>
						<tbody>
							{%  if tasks is not empty %}
								{% for task in tasks %}
									<tr>
										<td>{{task.title}}</td>
										<td>{{task.description}}</td>
										<td>{{task.user.username}}</td>
										<td>
											<a class='btn btn-sm btn-primary' href={{path('task_show', {id : task.id} )}}>
												<i class='fa fa-eye'></i>
											</a>
											<a class='btn btn-sm btn-warning' href={{path('task_edit', {id : task.id} )}}>
												<i class='fa fa-edit'></i>
											</a>
											<a class='btn btn-sm btn-danger' href={{path('task_delete', {id : task.id} )}}>
												<i class='fa fa-trash'></i>
											</a>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<p class="text-warning">Pas de tâches encore. Vous pouvez les créer.</p>
							{% endif %}
						</tbody>
					</table>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
